In [2]:
# Q1
import sqlite3

connection = sqlite3.connect("test.db")
cursor = connection.cursor()

cursor.execute(
    """ CREATE TABLE employees(id INTEGER primary key,name text,age INTEGER, department text) """
)
connection.commit()

In [3]:
# Q2
emp_data = [
    ("Person1", 20, "HR"),
    ("Person2", 40, "Technical"),
    ("Person3", 50, "HR"),
    ("Person4", 40, "HR"),
    ("Person5", 30, "Management"),
]
cursor.executemany(
    """ INSERT INTO employees(name,age,department) VALUES(?,?,?) """, emp_data
)
connection.commit()

In [4]:
# Q3 (1)
cursor.execute(""" SELECT * FROM employees """)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Person1', 20, 'HR')
(2, 'Person2', 40, 'Technical')
(3, 'Person3', 50, 'HR')
(4, 'Person4', 40, 'HR')
(5, 'Person5', 30, 'Management')

In [5]:
# Q3 (2)
cursor.execute(""" SELECT * FROM employees WHERE department = "HR" """)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Person1', 20, 'HR')
(3, 'Person3', 50, 'HR')
(4, 'Person4', 40, 'HR')

In [7]:
# Q4
cursor.execute(""" UPDATE employees SET department = "Technical" WHERE id = 3 """)
connection.commit()

cursor.execute(""" SELECT * FROM employees """)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Person1', 20, 'HR')
(2, 'Person2', 40, 'Technical')
(3, 'Person3', 50, 'Technical')
(4, 'Person4', 40, 'HR')
(5, 'Person5', 30, 'Management')

In [8]:
# Q5
cursor.execute(""" DELETE FROM employees WHERE id=3 """)
connection.commit()

cursor.execute(""" SELECT * FROM employees """)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Person1', 20, 'HR')
(2, 'Person2', 40, 'Technical')
(4, 'Person4', 40, 'HR')
(5, 'Person5', 30, 'Management')