# SQLITE3

#### import sqlite3

In [48]:
import sqlite3

connection = sqlite3.connect("example.db")
connection
cursor = connection.cursor()

# Create a table	varchar & text both Acceptable
cursor.execute(  # auto empid generation with  INTEGER not int type
    """ create table if not exists employees(empid int primary key, name varchar(50) not null, age int,department int) """
)

# Commit Changes [IMP]
connection.commit()  # Important

In [49]:
# insert in table
cursor.execute(
    """ 
	insert into employees(name,age,department) values("Prabhjeet",19,"Technical")
 """
)
cursor.execute(
    """ 
	insert into employees(name,age,department) values("Raman",18,"IT")
 """
)
cursor.execute(
    """ 
	insert into employees(name,age,department) values("John",43,"HR")
 """
)
connection.commit()  # Important

# Querying Data

In [50]:
cursor.execute(
    """ 
	select * from employees
	"""
)

rows = cursor.fetchall()
for row in rows:
    print(row)

(None, 'Prabhjeet', 19, 'Technical')
(None, 'Raman', 18, 'IT')
(None, 'John', 43, 'HR')

# Updating Data

In [51]:
cursor.execute(
    """
UPDATE employees
SET empid = 1
WHERE name = "Prabhjeet"
"""
)
cursor.execute(
    """
UPDATE employees
SET empid = 2
WHERE name = "Raman"
"""
)
cursor.execute(
    """
UPDATE employees
SET empid = 3
WHERE name = "John"
"""
)
connection.commit()  # Save Changes

# Displaying Data
cursor.execute(
    """ 
	SELECT * FROM employees
	"""
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Prabhjeet', 19, 'Technical')
(2, 'Raman', 18, 'IT')
(3, 'John', 43, 'HR')

# Deleting Data

In [52]:
cursor.execute(
    """ 
DELETE FROM employees
WHERE empid = 2
"""
)
connection.commit()

# Displaying Data
cursor.execute(
    """
SELECT * FROM employees
"""
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Prabhjeet', 19, 'Technical')
(3, 'John', 43, 'HR')

In [61]:
# cursor.execute(
#     """
# drop table employees
# """
# )
# connection.commit()
connection = sqlite3.connect("example.db")
cursor = connection.cursor()
emp_data = [
    ("Person1", 25, "HR"),
    ("Person2", 45, "Technical"),
    ("Person3", 29, "HR"),
]

cursor.executemany(
    """ 
	INSERT INTO employees(name,age,department)
	VALUES(?,?,?)
""",
    emp_data,
)
connection.commit()

cursor.execute(
    """
SELECT * FROM employees"""
)

rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Prabhjeet', 19, 'Technical')
(3, 'John', 43, 'HR')
(None, 'Person1', 25, 'HR')
(None, 'Person2', 45, 'Technical')
(None, 'Person3', 29, 'HR')

# Practical Application

## Bulk Sales Data Insertion

In [56]:
cursor.execute(  # auto salesID generation with  INTEGER not int
    """ 
create table sales(salesID INTEGER primary key,productDate varchar(50), productName varchar(50),quantity int,region varchar(50))
"""
)
sales_data = [
    ("2025-03-01", "Product1", 200, "North"),
    ("2025-01-05", "Product1", 500, "South"),
    ("2025-07-10", "Product1", 700, "North"),
    ("2025-09-15", "Product1", 250, "West"),
]
# Insert using ?
cursor.executemany(  # executemany
    """
	INSERT INTO sales(productDate,productName,quantity,region)
	VALUES(?,?,?,?)
	""",
    sales_data,
)

connection.commit()

cursor.execute(
    """
	SELECT * FROM sales
	"""
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2025-03-01', 'Product1', 200, 'North')
(2, '2025-01-05', 'Product1', 500, 'South')
(3, '2025-07-10', 'Product1', 700, 'North')
(4, '2025-09-15', 'Product1', 250, 'West')

In [55]:
# cursor.execute("""drop table sales""")
# connection.commit()

# Permanently close the connection

In [57]:
connection.close()